language: c
compiler:
    - gcc
    - clang
matrix:
    include:
        - compiler: gcc
          env: ANDROID_NDK=/tmp/android-ndk CC=arm-linux-androideabi-gcc
before_install:
    - sudo apt-get update -qq
    - sudo apt-get install -qq libexpat1-dev libssl-dev libev-dev
    - wget http://dl.google.com/android/ndk/android-ndk-r8b-linux-x86.tar.bz2
    - tar -xf android-ndk-r8b-linux-x86.tar.bz2
    - mv android-ndk-r8b /tmp/android-ndk
before_script: if [ -n "$ANDROID_NDK" ]; then cd deps; ./build_android.sh; cd ..; fi
script: ./waf configure $([ -z "$ANDROID_NDK" ] || echo -n '--cross-android') build $([ -n "$ANDROID_NDK" ] || echo -n 'test')
