language: c
compiler:
    - gcc
    - clang
matrix:
    include:
        - compiler: gcc
          env: ANDROID_TOOLCHAIN=/tmp/toolchains/arm
before_install:
    - sudo apt-get update -qq
    - sudo apt-get install -qq libexpat1-dev libssl-dev libev-dev
    - curl http://dl.google.com/android/ndk/android-ndk-r8e-linux-x86.tar.bz2 | tar xjf -
    - mv android-ndk-r8e android-ndk
    - android-ndk/build/tools/make-standalone-toolchain.sh --platform=android-9 --toolchain=arm-linux-androideabi-4.6 --arch=arm --system=linux-x86 --install-dir=/tmp/toolchains/arm --ndk-dir=`pwd`/android-ndk
script:
    - if [ -n "$ANDROID_TOOLCHAIN" ]; then ./build_android.sh; else ./waf configure build test; fi
